
mixin video(video)
    article.videoArticle
        div
            div.userInfo
                img(src=video.owner.avatarUrl).avatar 
                a(href=`/user/profile/${video.owner.username}` class='username') #{video.owner.username}
                    
            a(href=`/video/${video._id}`).title #{video.title}
            video(src=video.videoUrl poster=video.thumbUrl loop=true muted="muted")#video.video
            div.likeComment
                a.heart#heart
                    i(class="fa-regular fa-heart")#heartIcon
                span.like#like #{video.meta.like}
                a(href=`#`).comment#comment
                    i(class="fa-regular fa-comment")
            div.descriptionHashtags
                h4(class='description')=video.description
                each hashtag in video.hashtags
                    a(href='#').hashtag #{hashtag}

        
mixin userVideo(video, username)
    article.videoArticle
        div
            div.userInfo
                img(src=video.owner.avatarUrl).avatar 
                a(href=`/user/profile/${username}` class='username')=username
            
            a(href=`/video/${video._id}`).title #{video.title}
            video(src=video.videoUrl poster=video.thumbUrl loop=true muted="muted")#video.video
            div.likeComment
                a.heart#heart
                    i(class="fa-regular fa-heart")#heartIcon
                span.like#like #{video.meta.like}
                a(href=`#`).comment#comment
                    i(class="fa-regular fa-comment")
            div.descriptionHashtags
                h4(class='description')=video.description
                each hashtag in video.hashtags
                    a(href='#').hashtag #{hashtag}

mixin profileVideo(video, username)
    article.videoArticle
        div.videoFrame
            video(src=video.videoUrl poster=video.thumbUrl loop=true muted="muted")#video.video
        a(href=`/video/${video._id}`).title #{video.title}
        div.meta
            span.view #{video.meta.view} views
            a.heart#heart
                i(class="fa-regular fa-heart")#heartIcon
            span.like#like #{video.meta.like}
                
