mixin video(video, index)
    div 
        h3 
            a(href=`/video/${video.id}`) #{index+1}. #{video.title}
        h4=video.description
        div=toFormattedDate(video.date)
        ul
            each hashtag in video.hashtags
                li=hashtag
        hr