extends base

block content
    section.formSection
        div.titleFrame
            h2.pagetitle #{pageTitle}
        div.formFrame
            small.errorMessage=errorMessage
            form(method='post')
                div
                    input(name='email' value=email type='email' placeholder='*Email(aaa@gmail.com)' required)
                div
                    input(name='username' value=username type='text' placeholder='*Username' required)
                div
                    input(name='password' type='password' placeholder='*Password' required)
                div
                    input(name='repassword' type='password' placeholder='*Confirm password' required)
                div
                    input(name='name' value=name type='text' placeholder='*Name' required)
                div
                    input(name='location' value=location type='text' placeholder='Location')
                div
                    input(type='submit' value='Join').submit
                include partials/socialLogin
    
