extends base

block content
    div.joinFrame
        h2.pagetitle #{pageTitle}
        div.joinForm
            small.errorMessage=errorMessage
            form(method='post')
                input(name='email' value=email type='email' placeholder='*Email(aaa@gmail.com)' required)
                input(name='username' value=username type='text' placeholder='*Username' required)
                input(name='password' type='password' placeholder='*Password' required)
                input(name='repassword' type='password' placeholder='*Confirm password' required)
                input(name='name' value=name type='text' placeholder='*Name' required)
                input(name='location' value=location type='text' placeholder='Location')
                input(type='submit' value='Join').submit
                div
                    a(href=`/user/github/login`).githubLogin
                        i.fab.fa-github  Continue with Github
                div
                    a(href=`#`).googleLogin
                        i.fab.fa-google  Continue with Google
    
