extends base



block content
    section(data-videoId=video._id).watchVideoSection#watchVideoSection
        div.videoFrame
            video(src=video.videoUrl autoplay=true)#video.video
            div.controlPanel
                div.topPanel
                    input(type="range" step="1" value="0" min="0")#timeline.timeline
                div.bottomPanel
                    div.bottomFrontPanel
                        button#play.play.buttonNoBorder 
                            i(class="fa-solid fa-play")
                        span#currentTime.currentTime 00:00
                        span  / 
                        span#totalTime 00:00
                    div.bottomBackPanel
                        button#mute.mute.buttonNoBorder 
                            i(class="fa-solid fa-volume-high")
                        input(type="range" step="0.1" value="0.5" min="0" max="1")#volume.volume
                        button#fullScreen.fullscreen.buttonNoBorder
                            i(class="fa-solid fa-up-right-and-down-left-from-center")
    
        div.topMenu
            ul.hashtags
                each hashtag in video.hashtags
                    li
                        a(href='#')=hashtag
            h2.videoTitle #{video.title}
            div.viewLikeDate
                span.view Views #{video.meta.view}
                a(href='#').heart
                    i(class="fa-regular fa-heart")
                span.like #{video.meta.like}
                span.date Date: #{formatUtil.toSimpleDate(video.date)}
            div.management
                if userDTO && (String(video.owner._id) === userDTO._id)
                    a(href=`/video/${video._id}/edit`).edit Edit Video &rarr;
                    a(href=`/video/${video._id}/delete`).delete Delete Video &rarr;
        div.bottomMenu    
            div.ownerInfo
                img(src=video.owner.avatarUrl).ownerAvatar 
                a(href=`/user/profile/${video.owner.username}` class='ownername')=video.owner.username            
            h3.videoDescription #{video.description}

block scripts
    script(src="/static/js/videoPlayer.js")