extends base


block content
    section.watchVideoSection
        div.videoFrame
            video(src=video.videoUrl autoplay=true controls=true).video
        div.topMenu
            ul.hashtags
                each hashtag in video.hashtags
                    li
                        a(href='#')=hashtag
            h2.videoTitle #{video.title}
            div.viewLikeDate
                span.view Views #{video.meta.view}
                a(href='#').heart
                    i(class="fa-regular fa-heart")
                span.like #{video.meta.like}
                span.date Date: #{formatUtil.toSimpleDate(video.date)}
            div.management
                if userDTO && (String(video.owner._id) === userDTO._id)
                    a(href=`/video/${video._id}/edit`).edit Edit Video &rarr;
                    a(href=`/video/${video._id}/delete`).delete Delete Video &rarr;
        div.bottomMenu    
            div.ownerInfo
                img(src=video.owner.avatarUrl).ownerAvatar 
                a(href=`/user/profile/${video.owner.username}` class='ownername')=video.owner.username            
            h3.videoDescription #{video.description}
            