doctype html
html(lang="en")
    head 
        meta(name='viewport' content='width=device-width, maximum-scale=1.0, minimum-scale=1, user-scalable=yes, initial-scale=1.0')
        title #{pageTitle} | #{siteName}
        link(rel='stylesheet' href='https://unpkg.com/mvp.css')
        block cssLinks
    body
        header
            nav 
                ul 
                    li 
                        a(href='/') Home
                    
                    if login
                        li
                            a(href='/user/profile') #{userDTO.username}
                        li 
                            a(href='/logout') Logout
                        li
                            a(href='/video/upload') Upload Video
                    else
                        li
                            a(href='/login') Login
                        li
                            a(href='/join') Sign Up
            h1=pageTitle
        main
            block content
        include footer